ion-content {
  --background: rgb(0 0 0 / 21%);
}

.centerFlex {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 75%;
  background-color: var(--ion-color-light);
  border-radius: 10px;
  ion-toolbar {
    border-radius: 10px 10px 0px 0px;
  }
  #body {
    height: 88%;
    padding: 10px;
    ion-item {
      margin: 20px 0px;
    }
    .list {
      height: 100%;
      overflow-y: auto;
      ion-item {
        margin: 5px;
      }
    }
    ion-list {
      height: 95%;
      background: var(--ion-color-primary);
      border-radius: 5px;
    }
  }
}

#inputs {
  height: 270px;
  overflow-y: auto;
}

#empty {
  display: flex;
  height: 80%;
  justify-content: center;
  align-items: center;
}
