<utility-header
  title="Buscar mesa"
  type="menu"
  color="secondary"
></utility-header>
<ion-content class="ion-padding" color="fondo">
  <div *ngIf="cliente !== null" id="content">
    <h4>Mesa asignada: N° {{cliente.mesa.numeroMesa}}</h4>
    <ion-fab-button (click)="scanQr()" color="secondary">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </div>
  <ion-button
    (click)="modalConsultas()"
    expand="block"
    fill="clear"
    shape="round"
  >
    Click me
  </ion-button>
</ion-content>
