ion-fab-button {
  margin-top: 60px;
  width: 23em !important;
  height: 23em !important;
  ion-icon {
    zoom: 2;
  }
}

ion-spinner {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
