#spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

ion-card-content {
  height: 125px;
  h3 {
    font-size: 40px;
    text-align: center;
    margin: 20px 0px;
  }
  p {
    padding: 20px 0px;
    text-align: center;
  }
}

.container {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--ion-color-input);
  border-radius: 10px;
  padding: 10px;

  .pedidos {
    height: 90px;
    font-size: 23px;
  }

  .encuesta {
    height: 75px;
    font-size: 12px;
  }
}
