<utility-header type="menu" title="inicio" color="secondary"></utility-header>
<ion-content class="ion-padding" color="fondo">
  <ion-card id="visor">
    <ion-card-header color="secondary">
      <ion-card-title>Estado de tu pedido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="spinner" *ngIf="pedido === null">
        <ion-spinner name="circular"></ion-spinner>
      </div>
      <div id="pedido" *ngIf="pedido !== null">
        <h3>{{getTiempoEstimado(pedido?.tiempoEstimado)}}</h3>
        <p>Estado: {{getEstadoPedido(pedido?.estado)}}</p>
      </div>
    </ion-card-content>
  </ion-card>
  <div class="container">
    <ion-row>
      <ion-col size="12">
        <ion-button
          (click)="navigateToCarta()"
          expand="block"
          color="secondary"
          class="pedidos"
        >
          Carta
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button
          *ngIf="!pedido"
          (click)="navigateToRealizarPedido()"
          expand="block"
          color="secondary"
          class="pedidos"
        >
          Realizar pedido
        </ion-button>
        <ion-button
          *ngIf="pedido?.estado === 'confirmarEntrega'"
          (click)="confirmarEntrega()"
          expand="block"
          color="secondary"
          class="pedidos"
        >
          Confirmar entrega
        </ion-button>
        <ion-button
          *ngIf="pedido?.estado === 'entregado'"
          (click)="pedirCuenta()"
          expand="block"
          color="secondary"
          class="pedidos"
        >
          Pedir cuenta
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button
          [hidden]="desactivarEncuesta(pedido?.estado)"
          (click)="encuesta()"
          expand="block"
          color="secondary"
          class="encuesta"
        >
          Realizar encuesta
        </ion-button></ion-col
      >
      <ion-col [size]="desactivarEncuesta(pedido?.estado)?'12':'6'"
        ><ion-button
          [hidden]="!pedido"
          (click)="estadistica()"
          expand="block"
          color="secondary"
          [class]="desactivarEncuesta(pedido?.estado)?'pedidos':'encuesta'"
        >
          Ver encuestas
        </ion-button></ion-col
      >
    </ion-row>
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button
    (click)="modalConsultas()"
    color="secondary"
    (disabled)="cliente === null"
  >
    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
