<ion-content class="ion-padding">
  <div class="centerFlex">
    <div class="container">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Crear nuevo producto</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cancelar()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <form [formGroup]="formProducto" (ngSubmit)="onSubmit()">
        <ion-row>
          <ion-col size="4">
            <ion-thumbnail (click)="setFoto(1)">
              <img [src]="foto1 !== '' ? foto1 : 'assets/missing.png'" />
            </ion-thumbnail>
          </ion-col>
          <ion-col size="4">
            <ion-thumbnail (click)="setFoto(2)">
              <img [src]="foto2 !== '' ? foto2 : 'assets/missing.png'" />
            </ion-thumbnail>
          </ion-col>
          <ion-col size="4">
            <ion-thumbnail (click)="setFoto(3)">
              <img [src]="foto3 !== '' ? foto3 : 'assets/missing.png'" />
            </ion-thumbnail>
          </ion-col>
        </ion-row>
        <ion-item color="input">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input required formControlName="nombre" type="text"></ion-input>
        </ion-item>
        <ion-item color="input">
          <ion-label position="floating">Descripción</ion-label>
          <ion-input
            required
            formControlName="descripcion"
            type="text"
          ></ion-input>
        </ion-item>
        <ion-item color="input">
          <ion-label position="floating">Fecha de elaboración</ion-label>
          <ion-datetime
            [max]="today"
            formControlName="fechaElaboracion"
          ></ion-datetime>
        </ion-item>
        <ion-item color="input">
          <ion-label position="floating">Precio</ion-label>
          <ion-input
            required
            formControlName="precio"
            type="number"
          ></ion-input>
        </ion-item>
        <ion-item color="input">
          <ion-label position="floating">Tipo</ion-label>
          <ion-select formControlName="tipo" placeholder="Seleccione un tipo">
            <!-- TODO: el tipo es comida si el usuario es cocinero, y bebida si es bartender, no se puede elegir -->
            <ion-select-option value="comida">Comida</ion-select-option>
            <ion-select-option value="bebida">Bebida</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button
          color="tertiary"
          type="submit"
          expand="block"
          fill="clear"
          shape="round"
          [disabled]="formProducto.invalid"
        >
          Crear
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>

<!--  -->
<ngx-qrcode
  style="position: absolute; top: -1000%; left: 0"
  id="qr"
  *ngIf="productoId !== ''"
  [elementType]="elementType"
  [value]="productoId"
  cssClass="aclass"
  [errorCorrectionLevel]="correctionLevel"
>
</ngx-qrcode>
