<utility-header title="Esperando mesa" color="secondary"></utility-header>

<ion-content class="ion-padding" color="fondo">
  <div class="center">
    <ion-card color="input">
      <ion-card-content>
        <h2>
          Espere hasta que el metre le asigne una mesa, mientras puede ver los resultados de
          las encuestas sobre nuestro local en las que participaron otros clientes.
        </h2>
        <ion-button (click)="estadistica()" expand="block" color="secondary">
          Ver encuestas
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
