<utility-header type="menu" title="Pedidos"></utility-header>
<ion-content>
  <!-- Lista de pedidos a confirmar -->
  <ion-list-header>
    <ion-label>PEDIDOS A CONFIRMAR</ion-label>
  </ion-list-header>
  <ion-spinner name="circular" *ngIf="!pedidosConfirmar"></ion-spinner>

  <div *ngIf="pedidosConfirmar">
    <ion-list *ngFor="let pedido of pedidosConfirmar">
        <ion-item-sliding>
            <ion-item (click)="presentModal(pedido)">
                <ion-label>Mesa {{pedido.numeroMesa}}</ion-label>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option color="primary" (click)="confirmarPedido(pedido)">
                    <ion-icon name="checkmark-outline"></ion-icon>
                </ion-item-option>
                <ion-item-option color="danger" (click)="rechazarPedido(pedido)">
                    <ion-icon name="close-outline"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
  </div>

  <!-- Lista de pedidos a entregar -->
  <ion-list-header>
    <ion-label>PEDIDOS A ENTREGAR</ion-label>
  </ion-list-header>
  <ion-spinner name="circular" *ngIf="!pedidosEntregar"></ion-spinner>

  <div *ngIf="pedidosEntregar">
    <ion-list *ngFor="let pedido of pedidosEntregar">
      <ion-item-sliding>
        <ion-item (click)="presentModal(pedido)">
            <ion-label>Mesa {{pedido.numeroMesa}}</ion-label>
        </ion-item>
        <ion-item-options side="end">
            <ion-item-option color="primary" (click)="entregarPedido(pedido)">
                Entregado
            </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <!-- Lista de pedidos a cobrar -->
  <ion-list-header>
    <ion-label>PEDIDOS A COBRAR</ion-label>
  </ion-list-header>
  <ion-spinner name="circular" *ngIf="!pedidosCobrar"></ion-spinner>

  <div *ngIf="pedidosCobrar">
    <ion-list *ngFor="let pedido of pedidosCobrar">
        <ion-item-sliding>
            <ion-item (click)="presentModal(pedido)">
                <ion-label>Mesa {{pedido.numeroMesa}}</ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="primary" (click)="cobrarPedido(pedido)">
                    Pagado
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
  </div>

  <!-- Lista de pedidos en preparación -->
  <ion-list-header>
    <ion-label>PEDIDOS EN PREPARACIÓN</ion-label>
  </ion-list-header>
  <ion-spinner name="circular" *ngIf="!pedidosPreparando"></ion-spinner>

  <div *ngIf="pedidosPreparando">
    <ion-list *ngFor="let pedido of pedidosPreparando">
        <ion-item (click)="presentModal(pedido)">
            <ion-label>Mesa {{pedido.numeroMesa}}</ion-label>
        </ion-item>
    </ion-list>
  </div>

  <!-- <ion-button (click)="debugCrearPedido()" expand="block" fill="clear" shape="round">
    Click me
  </ion-button> -->
</ion-content>