ion-content {
  --background: rgb(0 0 0 / 21%);
}

.centerFlex {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: auto;
  background-color: var(--ion-color-light);
  border-radius: 10px;
  ion-toolbar {
    border-radius: 10px 10px 0px 0px;
  }
  form {
    padding: 10px;
    background-color: var(--ion-color-fondo-shade);
    #dni {
      margin: auto;
      cursor: pointer;
      color: var(--ion-color-fondo-shade);
    }
    ion-avatar {
      margin: 5px auto;
      border: 2px black solid !important;
      background: #8080808a;
    }
    ion-item {
      margin: 20px 0px;
    }
  }
}

#inputs {
  min-height: 200px;
  max-height: 300px;
  overflow-y: auto;
}
